[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
"google.genai" = "*"
google-cloud-aiplatform = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.13"
