[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"google.genai" = "*"
flask = "*"
python-dotenv = "*"
google-cloud-aiplatform = "*"
requests = "*"
flask-sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.13"
